/****************************搜索页样式start********************************/
body .header {
    height: 76px;
    line-height: 76px;
}

body .k12 {
    margin: -76px auto -120px;
    padding: 76px 0 120px;
}

body .header,
body .footer {
    background-color: #3aa9db;
}

body .k12 > .container {
    padding: 0px 15px 20px;
}

body .navbar-nav > li:hover {
    background-color: #0b82b7;
}

._search .body-content {
    width: 100%;
    height: 100%;
}

.search-prompt {
    width: 100%;
    margin-top: 30px;
    color: #3aa9db;
    line-height: 48px;
}

.sp-background {
    padding: 0px 14px;
    background-color: #f0f0f0;
}

.sp-result {
    width: 110px;
    float: left;
    font-size: 18px;
}

.sp-result .icon {
    width: 28px;
    height: 28px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icon-search {
    background-image: url('/filedata/site/image/search-icon-2.png');
}

.sp-content {
   width: 100%;
   text-align: center;
}

.goods-column {
    width: 100%;
    height: 405px;
    margin: 60px 0px 30px;
 }
 
.gc-item {
    width: 222px;
    height: 150px;
    float: left;
    margin-right: 12px;
    margin-bottom: 45px;
}

.gc-img {
    height: 124px;
    background-color: #3aa9db;
}

.gc-name {
    width: 125px;
    height: 23px;
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 23px;
    text-align: left;
}

.gc-see {
    width: 95px;
    height: 23px;
    float: right;
    font-size: 12px;
    line-height: 23px;
    text-align: right;
}
/****************************搜索页样式end********************************/
/****************************提示页样式start********************************/
._prompt .k12 {
    margin: -76px auto 0px;
    padding: 76px 0 0px;

}
.study-default-prompt .result-prompt {
    width: 100%;
    height: 645px;
    color: #888;
    background-image: url('/filedata/site/image/failed.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}

.prompt-content {
    width: 600px;
    float: right;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 385px;
}

.pc-return {
    width: 340px;
    height: 50px;
    margin-bottom: 22px;
    line-height: 50px;
}

.pc-button {
    width: 180px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 30px;
}

.index-button {
    background-image: url('/filedata/site/image/button-1.png');
}

.prev-button {
    background-image: url('/filedata/site/image/button-2.png');
}
/****************************提示页样式end********************************/