.k12 .navbar {
    min-height: 38px;
    margin-bottom: 0px;
}

.k12 .navbar-inverse {
    background-color: #0a223a;
    border-color: #0a223a;
}

.k12 .navbar-fixed-top {
    position: absolute;
    top: 76px;
    border-width: 0px;
}

.k12 .navbar-inverse 
.navbar-nav > li > a {
    color: #fff;
}

.k12 .navbar-nav {
    padding-right: 0px;
}

.k12 .navbar-nav .feedback {
    padding-top: 5px;
    padding-bottom: 4px;
}

.k12 .navbar-inverse 
.navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #a94442;
}

.k12 .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.k12 .nav > li > a {
    padding: 10px 25px;
}
