.k12 .navbar {
    min-height: 38px;
    margin-bottom: 0px;
}

.k12 .navbar-inverse {
    position: relative;
    border-width: 0px;
    border-color: #0a223a;
    background-color: #0a223a;
}

.k12 .navbar-nav {
    padding-right: 0px;
    margin-top: -10px;
}

.k12 .navbar-nav > li > a {
    color: #fff;
}

.k12 .navbar-nav 
.navbar-right:hover {
    background-color: transparent;
}

.k12 .navbar-nav .feedback {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
}

.k12 .nav > li > a {
    padding: 9px 25px 9px;
}
